.app__wrapper {
    flex-direction: column;
}

.shop_img img{
    position: relative;
    flex: 1;
    width: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-16%, 0%);
  
    
}

.app__shop-bottom img {
    position: relative;
    width: 1473px;
    height: 114px;
    bottom: 0;
}

.app__shop-content button {
    top: 0;
    margin-top: 1rem;
    margin-bottom: 2rem; 
}



@media screen and (min-width: 1900px) {
    
}

@media screen and (max-width: 450px) {
    
}