.app__wrapper {
    flex-direction: column;
}

.shop_img img{
    position: relative;
    flex: 1;
    width: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-16%, 0%);
  
    
}

.app__shop-bottom img {
    position: relative;
    bottom: 0;
}

.app__shop-content button {
    top: 0;
    margin-top: 1rem;
    margin-bottom: 2rem; 
}



@media screen and (min-width: 2000px) {
    
}

@media screen and (max-width: 1150px) {
    .app__shop-bottom img {
        position: relative;
        bottom: -50px;
        width: 118%;
    }
    
}

@media screen and (max-width: 650px) {
    .shop_img img {
        position: relative;
        transform: translate(0%, 0);
        width: 100%;
    }

    .app__shop-bottom img {
        position: relative;
        bottom: -50px;
        width: 118%;
    }
}