.app__keyfeatures-h1 {
    font-family: var(--font-base);
    color: var(--color-white);
    letter-spacing: 0.04em;    
    line-height: 100px;
    font-size: 70px;
    text-align: left; 
}

.app__keyfeatures-h2 {
    font-family: var(--font-base);
    color: var(--color-white);
    letter-spacing: 0.04em;    
    line-height: 100px;
    font-size: 70px;
    text-align: left;
}

.app__wrapper_img img {
    width: 80%;
    margin: 2rem 2rem;
}

.app__wrapper_img2 img {
    width: 80%;
    margin: 0 2rem;
}

 .app__wrapper_info {
    position: relative;
} 

.app__keyfeatures-bottom img {
    margin-top: 4rem; 
}

.main__heading {
    position: relative;
    left: 40%; 
    top: 0;
}

.key__features-1 {
    display: flex;
}

.key__features-2 {
    display: flex;
    margin-top: 20rem;   
}

.key__features-2-info {
   background: transparent;
}

@media screen and (max-width: 2000px) {
     
}

@media screen and (max-width: 1150px) {
    .main__heading {
        position: relative;
        left: 0;
        top: 0;
     }

     .app__wrapper_img2 img {
        margin-top: 10rem;
     }

     .app__keyfeatures-bottom img {
        position: absolute;
        left: 0px;
        margin-top: -1rem;
        width: 100%;
     }

     .key__features-1 {
        flex-direction: column;
     }

     .key__features-2 {
        flex-direction: column;
        margin-top: 5rem;
     }
     .key__features-2 :nth-child(1) { order: 3;}
     .key__features-2 :nth-child(2) { order: 1;}
     .key__features-2 :nth-child(3) { order: 2;}
}

@media screen and (max-width: 650px) {
     .main__heading {
        position: relative;
        left: 0;
        top: 0;
     }

     .app__wrapper_img2 img {
        margin-top: 4rem;
     }

     .app__keyfeatures-bottom img {
        position: absolute;
        width: 100%;
        left: 0px;
        margin-top: 2rem;
        
     }

     .app__keyfeatures-h2 {
        font-size: 65px;
     }

     .key__features-1 {
        flex-direction: column;
     }

     .key__features-2 {
        flex-direction: column;
        margin-top: 5rem;
     }
     .key__features-2 :nth-child(1) { order: 3;}
     .key__features-2 :nth-child(2) { order: 1;}
     .key__features-2 :nth-child(3) { order: 2;}

}