.app__keyfeatures-h1 {
    font-family: var(--font-base);
    color: var(--color-white);
    letter-spacing: 0.04em;    
    line-height: 100px;
    font-size: 70px;
    text-align: left;
}

.app__keyfeatures-h2 {
    font-family: var(--font-base);
    color: var(--color-white);
    letter-spacing: 0.04em;    
    line-height: 100px;
    font-size: 70px;
    text-align: left;
}

.app__wrapper_img img {
    width: 80%;
    margin: 2rem 2rem;
}

.app__wrapper_img2 img {
    width: 80%;
    margin: 0 2rem;
}

 .app__wrapper_info {
    position: relative;
} 

.app__keyfeatures-bottom img{
    justify-content: center;
    align-content: center;
    transform: translate(10%, 0%);
    margin-top: 4rem; 
    width: 1473px;
    height: 114px;
}

.main__heading {
    justify-content: center;
    align-content: center;
    left: 50%; 
    transform: translate(200%, 0%);  
    
}