.app__requirements {
    flex-direction: column; 
    position: relative;
    background: var(--color-black);  
}

.app__requirements_min-specs {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;

    text-align: left;
}

.app__requirments_rec-specs {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;

    text-align: left;
}

.app__requirements_min-specs,
.app__requirments_rec-specs {
    margin: 4rem 5rem;
}

.app__requirements_min-h1, 
.app__requirements_rec-h1 {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

.li{
    color: var(--color-golden)
}

@media screen and (max-width: 2000px) {
    
}

@media screen and (max-width: 1150px) {
    
}

@media screen and (max-width: 650px) {
    
}
