.app__header {
    position: relative;
}
.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    line-height: 100px;
    font-size: 70px;
    text-align: left;
}

.app__wrapper_img img {
    width: 100%;
}

.app__header-bottom img {
    position: absolute;    
    margin-top: 1rem;
    bottom: -3px;
    left: 15%;
}
